# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
.php_cs
.php_cs.cache
.phpunit.result.cache
build
coverage
docs
psalm.xml
vendor
.php-cs-fixer.cache
.DS_Store
composer.lock
